<!DOCTYPE html>
<html>
<head>
  <title>Landing</title>
  <meta charset="utf-8" />
	<!-- <link rel="icon" type="image/x-icon" href="icono.ico"> -->
	<title>Wissen</title>
	<meta name="Description" content="Wissen,Conectando conicimientos"/>
    <meta name="keywords" content="Programacion, arduino, educacion, robotica, paneles solares"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</body>
</html>
